/* nth1.css */
table, tr, td {border: 1px solid #000; border-collapse:collapse;}
#t {width:300px; height:300px;}
#t tbody {}
#t tbody tr {}
#t tbody tr td {}
/* #t tbody tr:nth-child(1) td:nth-child(1) {background-color:yellow;} */
#t tbody tr:first-child td:first-child {background-color: lightgreen;}
#t tbody tr:nth-child(2) td:nth-child(2) {background-color:pink;}
/* #t tbody tr:last-child td:last-child {background-color: lightslategray;} */
#t tbody tr:nth-child(3) td:nth-child(3) {background-color:lightgray;}
.box h2:nth-child(3) {background-color:lightblue;}
.box h2:nth-of-type(1) {color:red;}
.box h2:first-of-type {font-weight:800;}
.box p:nth-child(5) {background-color:chartreuse;}
.box p:nth-of-type(3) {color:red;}
.list { 
    
}
.list li {
    width:50px; height:50px;
    border:solid 1px black;
    display:inline-block;
    line-height:50px;
    font-size:0.75rem;
    text-align:center;
}
/* .list li:nth-child(2n+2) {background-color:pink;} */
.list li:nth-child(odd) {background-color:lightsteelblue;}
.list li:nth-child(even) {background-color:lightpink;}
